body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
  	line-height: 30px;
}

dt {
	font-size: 16px;
	font-weight: bold;
}

dd {
	font-size: 18px;
}

a:visited, a:link {
	color: black;
}